*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    text-decoration: none;
    color: inherit; 
    border: none;
}
a:hover{
    
    cursor:pointer;
    color: inherit; 
    
}
a:visited {
    text-decoration: none; 
    color: inherit; 
       
}
a:active{
    background-color: red;
}
.github{
    font-size:25px;
    background-color: #181717;
    border: solid 2px #000000;
}
.github:hover{
    background-color: #000000;
}
.link{
    font-size:25px;
    background-color: #0077B5;
    border: solid 2px #0A66C2;
}
.link:hover{
    background-color: #0A66C2;
}
.cur{
    font-size: 25px;
    background-color: #9370DB;
    border: solid 2px #6A5ACD;

}
.cur:hover{
    background-color: #6A5ACD;
}
body{
    display: grid;
    place-items: center;
    background-color:#1f2937;color: #FFF;
    
}
#info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    
}
.header-img{
    height: 150px;
    width: 150px;
    background-color: black;
    
}
.header-info{
    display: flex;
    flex-direction: column;
    
}
main{
    max-width: 800px;
    
}
.btn{
    color: black;
}
.btnP:active{
    border: solid 1px red;
    background-color: rgb(91, 91, 91);
}
img{
    transition: all 0.3s ease-in-out;
}
img:hover{
    transform:scale(1.2);
}

.card{
    background-color:#1f2937;
    color: white;    
}

.btn{
    background-color: white;
    color: black;
    font-weight: 500;
}
.btn:hover{
    background-color: rgb(217, 217, 217);
    color: black;
    font-weight: 500;
}

.card2{
    width: 386px;
    border: 2px solid rgba(119, 119, 119, 0.851);
    transition: all 0.3s ease-in-out;
    
       
}
.card2:visited {
    text-decoration: none; 
    color: inherit; 
       
}

.card2:hover{
    border: solid 2px white;
    transform: translateY(-10px);
    cursor:pointer;
    color: inherit; 
    box-shadow: none;
}
i{
    font-size: 30px;
}
.fa-react{
    color: #61DAFB;
}

.fa-js{
    color:#F7DF1E ;
}
.fa-bootstrap{
    color:#7952B3 ;
}

.fa-node{
    color:#8CC84B;
}

.fa-database{
    color:#00758F ;
}


.fa-html5{
    color: #E34F26;
}
.fa-css3-alt{
    color: #1572B6;
}

.share {
    transform: scale(0);
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.card2:hover .share {
    transform: scale(1);
}